@font-face {
  font-family: "citrix-icons";
  src: url("../assets/fonts/citrix/citrix-icons.eot");
  src: url("../assets/fonts/citrix/citrix-icons.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/citrix/citrix-icons.woff") format("woff"), url("../assets/fonts/citrix/citrix-icons.ttf") format("truetype"), url("../assets/fonts/citrix/citrix-icons.svg#citrix-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ico";
  src: url("../assets/fonts/ico/icon.eot");
  /* IE9*/
  src: url("../assets/fonts/ico/icon.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/ico/icon.woff") format("woff"), url("../assets/fonts/ico/icon.ttf") format("truetype"), url("../assets/fonts/ico/icon.svg#ico") format("svg");
  /* iOS 4.1- */
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HurmeGeometricSans3-Bold';
  src: url("../assets/fonts/hurme/HurmeGeometricSans3-Bold.eot");
  src: url("../assets/fonts/hurme/HurmeGeometricSans3-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/hurme/HurmeGeometricSans3-Bold.woff2") format("woff2"), url("../assets/fonts/hurme/HurmeGeometricSans3-Bold.woff") format("woff"), url("../assets/fonts/hurme/HurmeGeometricSans3-Bold.ttf") format("truetype"), url("../assets/fonts/hurme/HurmeGeometricSans3-Bold.svg#HurmeGeometricSans3-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'UrbanGroteskReBo-Italic';
  src: url("../assets/fonts/grotesk/UrbanGroteskReBo-Italic.eot");
  src: url("../assets/fonts/grotesk/UrbanGroteskReBo-Italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/grotesk/UrbanGroteskReBo-Italic.woff2") format("woff2"), url("../assets/fonts/grotesk/UrbanGroteskReBo-Italic.woff") format("woff"), url("../assets/fonts/grotesk/UrbanGroteskReBo-Italic.ttf") format("truetype"), url("../assets/fonts/grotesk/UrbanGroteskReBo-Italic.svg#UrbanGroteskReBo-Italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GeorgiaPro-Italic';
  src: url("../assets/fonts/georgia-pro-italic/GeorgiaPro-Italic.eot");
  src: url("../assets/fonts/georgia-pro-italic/GeorgiaPro-Italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/georgia-pro-italic/GeorgiaPro-Italic.woff2") format("woff2"), url("../assets/fonts/georgia-pro-italic/GeorgiaPro-Italic.woff") format("woff"), url("../assets/fonts/georgia-pro-italic/GeorgiaPro-Italic.ttf") format("truetype"), url("../assets/fonts/georgia-pro-italic/GeorgiaPro-Italic.svg#GeorgiaPro-Italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TextaNarrow-Regular';
  src: url("../assets/fonts/textanarrow-regular/TextaNarrow-Regular.eot");
  src: url("../assets/fonts/textanarrow-regular/TextaNarrow-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/textanarrow-regular/TextaNarrow-Regular.woff2") format("woff2"), url("../assets/fonts/textanarrow-regular/TextaNarrow-Regular.woff") format("woff"), url("../assets/fonts/textanarrow-regular/TextaNarrow-Regular.ttf") format("truetype"), url("../assets/fonts/textanarrow-regular/TextaNarrow-Regular.svg#TextaNarrow-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Urban-Grotesk-Light';
  src: url("../assets/fonts/grotesk/Urban Grotesk Light.eot");
  src: url("../assets/fonts/grotesk/Urban Grotesk Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/grotesk/Urban Grotesk Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'UrbanGroteskLiSe-Regular';
  src: url("../assets/fonts/grotesk/UrbanGroteskLiSe-Regular.woff") format("woff"), url("../assets/fonts/grotesk/UrbanGroteskLiSe-Regular.ttf") format("truetype"), url("../assets/fonts/grotesk/UrbanGroteskLiSe-Regular.svg#UrbanGroteskLiSe-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
